ALLOWED_FILE_TYPES=image/jpeg,image/png,application/pdf
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
CORS_ORIGIN=http://localhost:3000
EMAIL_FROM=info@boundlessfi.xyz
EMAIL_HOST=smtp.zoho.com
EMAIL_PASSWORD=tni3_Ybn
EMAIL_PORT=465
EMAIL_SECURE=false
EMAIL_USER=info@boundlessfi.xyz
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_ACCESS_TOKEN_EXPIRY=15m
JWT_ACCESS_TOKEN_SECRET=b08e7f0f5db1e038be8cf8237e2e16bf3644518a5e4d42b9be615fedce81e51d
JWT_REFRESH_TOKEN_EXPIRY=7d
JWT_REFRESH_TOKEN_SECRET=b08e7f0f5db1e038be8cf8237e2e16bf3644518a5e4d42b9be615fedce81e51d
JWT_SECRET=b08e7f0f5db1e038be8cf8237e2e16bf3644518a5e4d42b9be615fedce81e51d
MAX_FILE_SIZE=9000
MONGODB_URI=
NODE_ENV=development
PORT=8000
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW_MS=900000
SMTP_HOST=smtp.zoho.com
SMTP_PASS=tni3_Ybn
SMTP_PORT=465
SMTP_USER=info@boundlessfi.xyz
NEXTAUTH_SECRET="QJC+Sc3EBh9OsJzsnjAGgbq6xQ8Z7K1cZ1mOOgKA8sE=" # Added by `npx auth`. Read more: https://cli.authjs.dev
ADMIN_SECRET_KEY=SDUPS7MCL52JTACHZFKDDG3BUHNXU22WEOW2HBX4CIRDGAV6VY6NXWEM
PLATFORM_FEE=2.5